# Auto detect text files and perform LF normalization
* text=auto

# Force specific files to use LF
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.csv text eol=lf